* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #F5F7FB;
    overflow: hidden;
}

/* intro-page */
.start--page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #F5F7FB;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

/* Start quiz Button*/
.button--start {
    margin: 10px auto 200px auto;
    width: 193px;
    height: 52px;   
    background: #4D5B9E;
    border: 0px;
    border-radius: 15px;
    position: relative;
    z-index: 5;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    cursor: pointer;
}

/* Quizzical header*/
.quizz {
    margin: 50px auto 0 auto;
    width: auto;
    height: 41px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
    color: #293264;
    position: relative;
    z-index: 5;
}

/* Some description if needed */
.description {
    display: block;
    margin: 0 auto 0 auto;
    width: auto;
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
    position: relative;
    z-index: 5;
}

/* Lemony - blob */
.blob--yellow {
    display: flex;  
    position: absolute;
    top:-50px;
    right: -100px; 
    /* margin: -5% 0% 0% 85% ; */
    width: 297px;
    height: 235px; 
    
    background: #FFFAD1;
    transform: rotate(-128.49deg);
    border-radius: 250px 320px 210px 420px;
    z-index: 1;
}

/* Cyan - blob */
.blob--cyan {
    display: flex;
    position: absolute;
    left:-100px;
    bottom: -80px;
    /* margin: -100px 20% 5% -15%; */
    
    width: 297px;
    height: 235px;
    background: #DEEBF8;    
    transform: rotate(-128.49deg);
    border-radius: 150px 320px 310px 520px;
    z-index: 1;
}

.main-quizz-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

/* Container of all rendered questions*/
.all-questions-container {
    min-width: 400px;
    max-width: 600px;
    padding: 1px;
    position: relative;
    z-index: 5;
}

/* Quizz questions overall settings */
.quizz--page {    
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 20px;    
}

/* Quizz question text */
.question--text {
    display: flex;
    margin: 0px auto 15px;
    width: 100%;
    text-align: start;
    
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #293264;
}

/* Quizz answer buttons container */
.button-body {
    width: 100%;
    position: relative;
    z-index: 5;
}

/* Quizz answer button text */
.quizz--buttons {    
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 13px 15px 0;
    
    height: 20.65px;
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    cursor: pointer;
    
    /* Inside text */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;
    color: #293264;
}

/* Quizz question end line */
hr {
    margin: 0px auto;;
    width: 399px;
    border: 1px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

/* chack answers box*/
.answers--check {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

/* display score text*/
.check--score {
    margin-left: 20px;
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12.8px;
    position: relative;
    z-index: 5;
}

/* check answers button*/
.submit-button {
    margin-top: 30px;
    border: none;
    width: 120px;
    height: 35px;
    background: #4D5B9E;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #F5F7FB;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

@media only screen and (max-width: 400px) {
    .blob--yellow {
        right: 10px;
        top: 50px;
    }
    .blob--cyan {
        left: 10px;
        bottom: 50px;
    }
    body {
        padding-top: 30px;
        overflow: auto;
    }
}