* {
    box-sizing: border-box;
}

/* intro-page */
.start--page {
   background-color: #F5F7FB;
}

/* Start quiz Button*/
.button--start {
    display: block;
    margin: 10px auto 200px auto;
    width: 193px;
    height: 52px;
    left: 179px;
    top: 314px;
    background: #4D5B9E;
    border: 0px;
    border-radius: 15px;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    cursor: pointer;
}

/* Quizzical header*/
.quizz {
    display: block;
    margin: 50px auto 0;
    width: 412px;
    height: 41px;
    left: 70px;
    top: 218px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
    color: #293264;
}

/* Some description if needed */
.description {
    display: block;
    margin: 0 auto;
    width: 318px;
    height: 19px;
    left: 117px;
    top: 266px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
}

/* Lemony - blob */
.blob--yellow {
    display: flex;
    margin: -5% 0% 0% 85% ;
    width: 297px;
    height: 235px; 
    
    background: #FFFAD1;
    transform: rotate(-128.49deg);
    border-radius: 250px 320px 210px 420px;
    z-index: -1;
}

/* Cyan - blob */
.blob--cyan {
    display: flex;
    margin: -100px 20% 5% -15%;
    
    width: 297px;
    height: 235px;
    background: #DEEBF8;    
    transform: rotate(-128.49deg);
    border-radius: 150px 320px 310px 520px;
    z-index: -1;
}

/* Container of all rendered questions*/
.all-questions-container {
    min-width: 600px;
    max-width: 800px;
    margin: -180px auto 0 auto;
    padding: 1px;
}

/* Quizz questions overall settings */
.quizz--page {    
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 20px;    
       
    
}

/* Quizz question text */
.question--text {
    display: flex;
    margin: 0px auto 15px;
    width: 100%;
    text-align: start;
    
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #293264;
}

/* Quizz answer buttons container */
.button-body {
    width: 100%;
    z-index: 1;
}

/* Quizz answer button text */
.quizz--buttons {    
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 13px 15px 0;
    
    height: 20.65px;
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    cursor: pointer;
    
    /* Inside text */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;
    color: #293264;
}

/* Quizz question end line */
hr {
    margin: 0px auto;;
    width: 399px;
    border: 1px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

/* chack answers box*/
.answers--check {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

/* display score text*/
.check--score {
    margin-left: 20px;
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12.8px;
    
}

/* check answers button*/
.submit-button {
    margin-top: 30px;
    border: none;
    width: 120px;
    height: 35px;
    background: #4D5B9E;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #F5F7FB;
    cursor: pointer
}